{# Set Logo #}
{% set logo = siteIdentity.logo.one() %}

{# Fetch all nav items #}
{% set nav =  craft.entries.section('nav') %}

{# Get all base level items #}
{% set baseLevel = nav.level(1).with(['linkToEntry']).all() %}


<header class="nav">
    <div class="container">
        <h2 class='nav__logo'><a href='/'>OP Gaming</a></h2>
        <nav class="nav__menu">
            {# loop through base level nav #}
            {% for item in baseLevel %}

                {# Fetch the linked entry #}
                {% set linked = item.linkToEntry %}
                
                {% if linked %}

                    {# Fetch the linked entry's section handle #}
                    {% set sid = linked[0].section().handle %}

                    {# Fetch all the entries from the section thats not the base level #}
                    {% set children = craft.entries.section(sid).with('cover').level('2').all() %} 

                    
                    {# Base nav Item with child  #}
                    <li class='nav__menu--item'><a href="/{{item.title|kebab}}">{{item}}{{item.navIcon|default('')|raw}}</a>
                        <ul class='nav__menu--submenu'>
                            {# Loop through the children #}
                            {% for child in children %}
                                <li class='nav__menu--submenu--item'>
                                    <a href="/{{child.uri}}">
                                        {{child}}

                                        {% if child.cover %}
                                            <img class="nav__menu--item--cover" src='/{{child.cover[0].url}}'>   
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li> 
                {% else %}
                    <li class='nav__menu--item'><a href="/{{loop.index == 1 ? ' ' : item.slug }}">{{item}}{{item.navIcon|default('')|raw}}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</header>